{% extends 'base.html.twig' %}
{% block title %}Compétences{% endblock %}

{% block body %}
<p style="text-align:center; max-width:800px; margin:4em auto;"> Prévoir intégration des compétences + Eportofolio</p>
{% endblock %}