{% extends 'base.html.twig' %}
{% block title %}Expériences{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 850px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
<div class="example-wrapper">
    <h2 style ="margin-top:2em;">Experiences professionnelles</h2>
    <blockquote class="blockquote" style="margin-top:1em">
        <p style="mb-0"> J'ai encore assez peu d'expériences professionnelles ou associatives. Cependant j'ai travaillé trois semaines dans l'entreprise de cuisines professionnelles DIMA Protechnic dans la comptabilité et dans le SAV.
        Je suis chargé Communication du Bureau des Etudiants de Réseaux et télécommunication, mon rôle consiste a publié les storys sur le réseaux sociaux du BDE.
        </p>
    </blockquote>
</div>
{% endblock %}