{% extends 'base.html.twig' %}
{% block title %}Expériences{% endblock %}

{% block body %}
<p style="text-align:center; max-width:800px; margin:4em auto;"> Prévoir diplomes et experiences professionnelles </p>
{% endblock %}