{% extends 'base.html.twig' %}
{% block title %}Profil/Contact{% endblock %}
{% block body %} 
<style>
    .example-wrapper { margin: 1em auto; max-width: 850px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h2 style ="margin-top:2em;">Profil</h2>
    <blockquote class="blockquote" style="margin-top:1em">
        <p class="mb-0">Je m'appelle Keryan Mandon, je suis né en août 2007 et je vis dans la région lyonnaise.
        J'ai passé un Baccalauréat général avec mathématiques et sciences de l'ingénieur en spécialité (mention Assez bien), ainsi que l'Esame di maturità.
        A l'heure actuelle, je suis étudiant en première année en BUT Réseaux et télécommunication.
        </p>
     </blockquote>
     <h2 style ="margin-top:1em">Contact</h2>
     <blockquote class="blockquote" style="margin-top:1em">
     <p class="mb-0">Mon adresse email : keryanmandon@gmail.com</p>
     <p class="mb-0">Mon numéro de téléphone : 06 11 85 33 48</p>
</div>
{% endblock %}

